
.ui-dialog { z-index: 99999 !important ;}

 .masterView{
	border-right: black solid 1px;
	overflow: auto;
}
.masterView tbody tr:hover{
	cursor: pointer;
	background-color: lightgray;
	font-weight: bold;
}