
	.ui-dialog { z-index: 99999 !important ;}
	
	#unesiStubove_dialog_cointainer{
		height: 100%;
		overflow-y: scroll;
	}
	#unesiStubove_dialog_cointainer tbody,
	#unesiStubove_dialog_cointainer tr {
	  width: 100%;
	  display: table;
	  table-layout: fixed;
	}
	#unesiStubove_dialog_cointainer thead{
		display:block;
		position: sticky;
		top:0px; 
		background-color: gainsboro;
	}
	#unesiStubove_dialog_cointainer th,
	#unesiStubove_dialog_cointainer td{
		text-align: center !important;
		vertical-align: middle !important;
	}
	
	/*nece da radi*/
	#unesiStubove_dialog_cointainer td{margin: 0 2px;}


	.col1{width: 80px !important;}
	.col2{width: 120px;}
	.col3{width: 100px;}
	/* .col2{width: 30%;} */
	/* .col4{width: 100px;} */
	 .col6{width: 100px;}	