#body_kontejner{
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;	
	z-index: 1;	
}

#body_kontejner>header{
	position: absolute;
	top: 0;
	width: 100%;	
	height: 50px!important;	
	z-index: 1000;	
}
/* nemam vise problem sa dropdown button
heder * {	
	z-index: 1000!important;	
}
*/

#drawingKontejner{
		position: absolute;
		top: 50px;
		bottom: 50px;
		width: 100%;
		border: 1px solid black;
		z-index: 100;	
	}
#drawing{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: aqua;
	z-index: 110;	
}
#map_container{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 120px;
	background-color:transparent;
	/* background-color: rgb(71, 252, 71); */
	z-index: 200;	
}
#map_container .map{
	width: 100%;
	height: 100%;
}
#map_container select{
	position: absolute;
	bottom: 0;
	right: 50px;
}

#map_toggle{
	position: absolute;
	bottom: 50px;
	right: 0;
	height: 120px;
	z-index: 1000;
}
	
#body_kontejner>footer{
    position: absolute;
    display: flex;
    justify-content: space-between;
	bottom: 0;
	width: 100%;
	height: 50px;
    z-index: 10;	
    padding: 5px;
}
#body_kontejner>footer div div{
	display:inline-block !important;
	width:80px;
}
#body_kontejner>footer div div:first-of-type{width:110px;}
#x_koor{ 
    width:80%;
    background-color: transparent;
    font-weight: bold;
    display: inline;
    color: black;
}
#body_kontejner>footer form{display:inline;}
    
.hederButton , .futerButton{
    margin: 0 2px !important;
}

#formaLanc input,
#formaLanc select{display: inline-block !important;}
#formaLanc em{font-size: 0.85em;}      

.dropdown-item:hover {background-color: cornflowerblue;}

#dropdownAlati button,
#dropdownAlati label {
    padding: 0 !important;
    margin: 2px 8px !important;
}

#dropdownAlati i {width: 20px;}

#dropdownUser span{
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-bottom: -5px;
    max-width: 100px;
}

#userInfo_dialog header span{
    display: inline-block;
    width: 150px;
}

#modalLatLong label{
    display: inline-block;
    width: 100px;   
}
#modalLatLong input{width: 150px;}