	
	.body_header{
		/*background-image: linear-gradient(to right bottom, #c80a0a, #d5221e, #e1332f, #ed4240, #f95050);*/
		background-image: url("../media/heder_back.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		padding: 20px 0;
		font-family: "Lucida Bright";
	}
	.body_header img{
		display: block;
   		margin: auto;
		max-width: 75%;
	}
	.body_header .logo_text *{
		text-align: center; 
		font-size: 2vw; 
		color: goldenrod;
}

	.body_header .logo_text strong{
		background-color: rgba(0,0,0,0.2);}