*{
	box-sizing: border-box;
	font-size: 100%;
}
	.separator_h{
		background-image: url(../media/pictures/separator_horiz_color.png);
		width: 100%;
		height: 3px;
	}
	.separator_h_5{
		height: 5px;
	}

	.body_container h1, 
	.body_container h2, 
	.body_container h3 {		
		color: darkgoldenrod;
	}