.body_header{
	background-image: linear-gradient(to right bottom, #0753c4, #1d62d3, #2d72e2, #3b81f0, #4891ff);
	width: 100%;
	position: absolute;
	top: 0;
}
.body_header *{color: white;}

.body_header, .body_footer {
	height: 70px;
	padding: 0 5px;
}

.body_header .logo{	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.body_footer{
	/*https://mycolor.space/gradient*/
		background-image: linear-gradient(to right bottom, #0753c4, #1d62d3, #2d72e2, #3b81f0, #4891ff);
	width: 100%;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.body_footer *{
	color: white;
	font-size: 100%;
}

.body_container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.body_container .myInput {
    width: 100%;
    min-width: 100px;
    max-width: 300px;
}
form div{
	display:flex;
	justify-content: center;
}


.body_container li {
	width: 50%;
  }
  .tabContainer{
    width: 50vw;
    min-width: 300px;
    max-width: 500px;
	box-shadow: inset 0 0 25px 9px #a0c1f7;
  }


  /* validacija za pass******************************** */
  #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 5px;
    margin-top: 10px;
}

#message p {
    padding: 5px 25px;
    font-size: 12px;
}

.valid {color: green;}

.valid:before {
    position: relative;
    left: -5px;
    content: "✔";
}
.invalid {color: red;}

.invalid:before {
    position: relative;
    left: -5px;
    content: "✖";
}

.tooltip{z-index: 10 !important;}