<style>
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 50%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
</style>
<div id="map"></div>
<img id="slika" src="" alt="slika"/>
<!-- Replace the value of the key parameter with your own API key. -->
<script async defer
src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
<script >
// This example creates a 2-pixel-wide red polyline showing the path of
// the first trans-Pacific flight between Oakland, CA, and Brisbane,
// Australia which was made by Charles Kingsford Smith.

latC = 43.902852;
lngC=20.3355172;
lt1=43.902852;
lg1=20.3355172;
lt2=43.90201;
lg2=20.33501;

function initMap() {

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 18,
    center: {lat: latC, lng: lngC},
    mapTypeId: 'satellite'
  });

  var flightPlanCoordinates = [
    {lat: lt1, lng:lg1},
    {lat: lt2, lng: lg2}
  ];
  var flightPath = new google.maps.Polyline({
    path: flightPlanCoordinates,
    geodesic: true,    
    rotateControl: true,
	heading: 180,
    strokeColor: '#FF0000',
    strokeOpacity: 0.5,
    strokeWeight: 5
  });

  flightPath.setMap(map);
}
document.getElementById('slika').src = "http://maps.google.com/maps/api/staticmap?size=400x400&zoom=18&path=color:0xff0000ff|weight:5|"+lt1+","+lg1+"|"+lt2+","+lg2+"&maptype=satellite";


</script>



